<div id="container">
	<iframe src="about:blank"></iframe>
	<div id="toolbar">
		<div title="Stop watching for updates." class="button stop"></div>
		<div title="Are you connected to the hotcode server?" class="status socket"></div>
		<div title="Are you watching for updates?" class="status watching"></div>
		<div class="history">
			<div class="path-container">
				<div class="path">
					<span>No file changes so far.</span>
					<strong class="time-since-change"></strong>
				</div>
			</div>
		</div>
		<div class="inputs">
			<div class="input reload">
				<div class="title">
					Watch path:
				</div>
				<input type="text" name="reload" value="" id="reload">
			</div>
			<div class="input url">
				<div class="title">
					URL:
				</div>
				<input type="text" name="url" value="" id="url">
			</div>
		</div>
	</div>
	<div id="messages"></div>
</div>